<section class="content" id="vueContent">
    <div class="row">
        <div class="col-md-3">
            <a href="###" v-on:click="writeEmail" class="btn btn-primary btn-block margin-bottom">写邮件</a>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">邮件</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul id="emailNav" class="nav nav-pills nav-stacked">
                        <li v-on:click="changeBox('inbox',$event)" class="active">
                            <a href="javascript:void(0)">
                                <i class="fa fa-inbox"></i> 收件箱
                                <span class="label label-primary pull-right"></span>
                            </a>
                        </li>
                        <li v-on:click="changeBox('sent',$event)"><a href="javascript:void(0)"><i class="fa fa-envelope-o"></i> 发件箱</a></li>
                        <li v-on:click="changeBox('drafts',$event)"><a href="javascript:void(0)"><i class="fa fa-file-text-o"></i> 草稿</a></li>
                        <li v-on:click="changeBox('junk',$event)">
                            <a href="javascript:void(0)"><i class="fa fa-filter"></i> 删除 <span class="label label-warning pull-right">65</span></a>
                        </li>
                        <li v-on:click="changeBox('trash',$event)"><a href="javascript:void(0)"><i class="fa fa-trash-o"></i> 垃圾箱</a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">标签</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i> 重要</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> 推广</a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> 一般</a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div id="content" class="col-md-9">
            @*@Html.Partial("_EmailBox")*@
        </div>
    </div>
    <!-- /.row -->
</section>
<script>
    $(function () {
        //Enable iCheck plugin for checkboxes
        //iCheck for checkbox and radio inputs
        $('.mailbox-messages input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue'
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });

        //Handle starring for glyphicon and font awesome
        $(".mailbox-star").click(function (e) {
            e.preventDefault();
            //detect type
            var $this = $(this).find("a > i");
            var glyph = $this.hasClass("glyphicon");
            var fa = $this.hasClass("fa");

            //Switch states
            if (glyph) {
                $this.toggleClass("glyphicon-star");
                $this.toggleClass("glyphicon-star-empty");
            }

            if (fa) {
                $this.toggleClass("fa-star");
                $this.toggleClass("fa-star-o");
            }
        });
    });

    function ReadEmail(id) {
        $("#content").load('@Url.Content("~/Email/ReadEmail/")' + id);
    }

    new Vue({
        el: "#vueContent",
        data: {},
        methods: {
            writeEmail: function () {
                $.get('@Url.Content("~/Email/WriteEmail")', function (data, status) {
                    if (status == 'success') {
                        $("#content").empty().append(data);
                    }
                })
            }
            , changeBox: function (status, event) {
                $("#emailNav li").removeClass("active");
                $(event.currentTarget).addClass("active");
                $.post('@Url.Content("~/Email/EmailList/")'+status+'/1', function (data, status) {
                    $("#content").empty().append(data);
                })
            }
        }
    })
</script>