@{
    Layout = null;    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/AdminLTE")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html">登录</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">登陆后开始操作</p>
            <form action="../../index2.html" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> 记住密码
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>
            </div>
            <!-- /.social-auth-links -->
            <a href="#">I forgot my password</a><br>
            <a href="register.html" class="text-center">Register a new membership</a>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.2.3 -->
    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="../../plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>



















<section ng-app="login" style="padding-top:80px">
    <form id="tabUser" class="form-horizontal" role="form" ng-controller="loginController">
        <div class="form-group">
            <label class="col-sm-offset-4 col-sm-1 control-label" style="padding-right:0px">账号：</label>
            <div class="col-sm-2" style="padding-left:0px">
                <input type="text" class="form-control" name="account" data-v-required="请输入账号" ng-model="user.Account" placeholder="请输入账号" data-v-regexp="(^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$)" data-v-regexp-msg="账号只能是数字和字符串" />
            </div>
            <span data-valmsg-for="account" class="v-error"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-4 col-sm-1 control-label" style="padding-right:0px">密码：</label>
            <div class="col-sm-2" style="padding-left:0px">
                <input type="password" class="form-control" name="password" ng-model="user.Password" placeholder="请输入密码" data-v-required="请输入密码" data-v-regexp="(^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$)" data-v-regexp-msg="密码必须是6-16位的数字与字母的组合" />
            </div>
            <span data-valmsg-for="password" class="v-error"></span>
        </div>
        <div class="form-group">
            <div class="col-sm-2" style="margin-left:44%">
                <button type="submit" ng-click="submit()" class="btn btn-primary">登录</button>
            </div>
        </div>
    </form>
</section>
<script>
    var registrarModule = angular.module("login", []);
    registrarModule.controller("loginController", function ($scope, $http) {
        $scope.user = {
            Account:"",
            Password: "",
        }

        $scope.submit = function () {
            //表单验证
            var valid = $("#tabUser").validate();
            if (!valid) {
                return;
            }

            $http({
                method: "POST",
                url: '@Url.Content("~/Account/Login")',
                data:$scope.user
            }).success(function (data) {
                if (data.State != 1) {
                    Widget.alert(data.Message);
                }
                else {
                    location.href = '@Url.Content("~/Home/Index")'
                }
            })
        }
    })
</script>