<section ng-app="login" style="padding-top:80px">
    <form id="tabUser" class="form-horizontal" role="form" ng-controller="loginController">
        <div class="form-group">
            <label class="col-sm-offset-4 col-sm-1 control-label" style="padding-right:0px">账号：</label>
            <div class="col-sm-2" style="padding-left:0px">
                <input type="text" class="form-control" name="account" data-v-required="请输入账号" ng-model="user.Account" placeholder="请输入账号" data-v-regexp="(^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$)" data-v-regexp-msg="账号只能是数字和字符串" />
            </div>
            <span data-valmsg-for="account" class="v-error"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-offset-4 col-sm-1 control-label" style="padding-right:0px">密码：</label>
            <div class="col-sm-2" style="padding-left:0px">
                <input type="password" class="form-control" name="password" ng-model="user.Password" placeholder="请输入密码" data-v-required="请输入密码" data-v-regexp="(^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$)" data-v-regexp-msg="密码必须是6-16位的数字与字母的组合" />
            </div>
            <span data-valmsg-for="password" class="v-error"></span>
        </div>
        <div class="form-group">
            <div class="col-sm-2" style="margin-left:44%">
                <button type="submit" ng-click="submit()" class="btn btn-primary">登录</button>
            </div>
        </div>
    </form>
</section>
<script>
    var registrarModule = angular.module("login", []);
    registrarModule.controller("loginController", function ($scope, $http) {
        $scope.user = {
            Account:"",
            Password: "",
        }

        $scope.submit = function () {
            //表单验证
            var valid = $("#tabUser").validate();
            if (!valid) {
                return;
            }

            $http({
                method: "POST",
                url: '@Url.Content("~/Account/Login")',
                data:$scope.user
            }).success(function (data) {
                if (data.State != 1) {
                    Widget.alert(data.Message);
                }
                else {
                    location.href = '@Url.Content("~/Home/Index")'
                }
            })
        }
    })
</script>